.botao:hover {
    color: #cf3e28;
}

.caixa {
    align-self: center;
}

header {
    display: block;
    padding: 0px 0px 0px 0px;
    margin-bottom: 0px;
    text-align: center;
}

body {
    background:#318ebd;
    color:#e1e1e8;
    font-size: 16px;
    font-family: sans-serif;
}

nav {
    display: block;
    border-bottom: 2px solid;
    padding: 2px 8px 8px 2px;
    font-size: 18px;
    font-family: sans-serif;
}

.menu {
    margin-left: 240px;
    margin-right: 240px;
    align-self: center;
}

.botao {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 4px;
    margin-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 4px;
    width: 100px;
    display: inline-block;
}

figure {
    margin-top: 18.72px;
    text-align: center;    
}

.imgIni {
    width: 268px;
    height: 222px;
    
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

h3 {
    text-align: center;
    color: #cf3e28;
}

footer {
    clear: both;
}

a {
    text-decoration: none;
}

a:visited {
    color: #e1e1e8;
}

a:link {
    color: #e1e1e8;
}

ul {
    padding-left: 20px;
    margin-bottom: 0px;
}

.ender {
    text-align: center;
    font-size: 14px;
    border-top: 2px solid;
    padding: 10px;
    margin-top: 16px;
    margin-left: 120px;
    margin-right: 120px;
}

.imgLogo {
    margin-bottom: 4px;
    padding-bottom: 4px;
}



.apres {
    text-align: center;
    font-size: 18px;
}

.lisDestaq {
    color: #e1e1e8;
}

.itemDestaq {
    width: 400px;
    height: 100px;
}

.itemDesProd {
    list-style-type: square;
}

.imgDestaq {
    width: 86px;
    height: 90px;
    float: right;
}

.precoVelho {
    text-decoration-line: line-through;
}

.preco {
    color: #FF0000;
    font-weight: bold;
}

.tabInfo {
    border-collapse: collapse;
    background-color: #e1e1e8;
    color: #00457a;
    font-family: arial;
}

td {
    border: #4F4F4F solid 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
}

th {
    border: #4F4F4F solid 2px;
    padding-top: 6px;
    padding-right: 12px;
    padding-bottom: 6px;
    padding-left: 12px;
}

.imgCat {
    width: 86px;
    height: 90px;
}

.linTH {
    color:  #e1e1e8;
    background-color: #00457a;
    align-content: middle;
    text-align: center;
}

.colTH {
    background-color: #ea6465;
    color: #FFFFFF;
    text-align: center;
}

.preco {
    color: #cf3e28;
    font-weight: bold;
    align-content: middle;
}

input {
    border-radius: 5px;
}

fieldset {
    background-color: #00457a;
    color: #e1e1e8;
    margin: 0px 10px 0px 10px;
}

.fsDados {  
    width: 510px;
}

.fsEsq {
    float: left;
    margin: 0px 0px 6px 0px;
}

.fsDir {
    float: right;
    width: 210px;
    margin: 0px 0px 6px 0px;
}

.meiaLinDir {
    width: 220px;
    float: right;
    margin-bottom: 6px;
}

.meiaLinEsq {
    width: 220px;
    float: left;
    margin-top: 6px;
    margin-bottom: 18px;
}

.divLinha {
    width: 490px;
    margin-bottom: 18px;
}

.colPri {
    float: left;
    display: block;
    width: 84px;
}

.elemDir {
    float: right;
    display: block;
    height: 120px;
}

.botCentro {
    text-align: center;
    margin: 12px, 10px, 12px, 10px;
    padding-top: 12px;
}

.inpGrande {
    width: 390px;
}

.impMedio {
    width: 120px;
}

.impTelef {
    width: 90px;
}

.impNCC {
    width: 130px;
}

.numDD {
    width: 40px;
}

.numQD {
    width: 60px;
}